body{
    /* background-image: url(../img/fondo-degradado.png); */
    margin: 81px 0px 0px 0px !important;
    padding: 0px;
    background-color: #272e35 !important;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Blinker-Light;
    color: #fff !important;
}

.espacio-bonito-linea{
    margin: 50px 0px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.espacio-bonito-sin-linea{
    margin: 25px 0px 40px 0px;
    /* width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2); */
}

.pie-pagina{
    margin: 50px 0px 0px 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #273f43;
}

.navbar-brand{
    font-family: SLIMEDUNK-ITALIC-CLEAN;
    color: #eee !important;
    letter-spacing: 0.1em;
    font-size: 1.6rem !important;
}
.color-fit{
    color: #ff4e00;
}

.breadcrumb-item.active {
    color: #ffa424 !important;
}

.navbar-nav .nav-link.active{
    color: #ffa424 !important;
}
.nav-link:hover{
    color: #ffa424 !important;
}
p span{
    color: #ff4e00;
}
h1, h2, h3{
    font-style: italic;
    font-family: Blinker-Bold;
    letter-spacing: 0.05em;
}
h1{
    font-size: 2.5rem !important;
}
h1 span{
    color: #ff4e00;
}
h2{
    color: #face17 !important;
    /* font-size: 2rem !important; */
}
h3{
    color: #ff4e00 !important;
    font-family: Blinker-SemiBold;
}
/*.nav-link{
    color: #eee !important;
}
a{
    color: #eee !important;
}
.breadcrumb-item + .breadcrumb-item::before{
    color: #fff !important;
}

.breadcrumb-item.active{
    color: #ffa424 !important;
} */

/* .dropdown-menu{
    background-color: #902b00 !important;
    color: #eee !important;
} */

/* background-size: cover; */
/* opacity: .2; */
/* border-radius: 10px; */
/* border: 1px solid rgba(238, 238, 238, 0.35); */
/* letter-spacing: 0.1em; */
/* line-height: 1.8rem !important; */
/* text-shadow: 0px 2px 2px black; */
/* white-space: pre-line; */
